@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.card{
    display: flex;
    align-items: center;
    height: 20rem;
    width: 15rem;
    border: 2px solid black;

}
